h1.head {font-size: 60px;
    font-family: fantasy;
    border-bottom:5px double black;
}

h1 img {width: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.item {
    width: 420px;
    height: 55px;
    background-color: rgb(60, 60, 60);
    text-align: center;
    line-height:55px;
}

.item a {
    color: white;
    text-decoration: none;
}

.menu a {
    color:black;
}

h1.midashi{
    text-align: center;
    color: blue;
    border-bottom: solid 3px rgb(0, 0, 0);
    padding: 10px;
    font-size: 35px;
}

h3.mokuji1{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    background-color: rgb(159, 184, 237);
    border-bottom: solid 3px rgb(100, 100, 232);
}

ul.mokuji2{
    background-color: rgb(237, 237, 245);
    margin-top: 0px;
}

.menu{
    padding-bottom: 5px;
}

.gaiyou{
    padding-left: 20px;
}

h2.gaiyou{
    text-align: center;
    border-bottom: solid 5px rgb(100, 100, 232);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    background-color: rgb(159, 184, 237);
}

.komidashi{
    padding-left: 20px;
}

h2.komidashi{
    text-align: center;
    border-bottom: solid 5px rgb(100, 100, 232);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    background-color: rgb(159, 184, 237);
}

h3.komidashi{
    text-decoration: underline 2px rgb(100, 100, 232);
    margin-top: 40px;
}

#id3{
    font-size: 20px;
    font-weight: bold;
}

#id4{
    font-size: 20px;
    font-weight: bold;
}

#id5{
    font-size: 20px;
    font-weight: bold;
}

#id6{
    font-size: 20px;
    font-weight: bold;
}

#id7{
    font-size: 20px;
    font-weight: bold;
}

.ex{
    font-size: 16px;
    font-weight: lighter;
    background-color: rgb(237, 237, 245);
    padding: 20px;
    border-radius: 50px;
}

.chu{
    font-size: 20px;
    color: blue;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pla{
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.red{
    color: red;
}