.container {
    display: flex;
    justify-content: space-around;
}

.item {
    width: 420px;
    height: 55px;
    background-color: rgb(60, 60, 60);
    text-align: center;
    line-height:55px;
}

.item a {
    color: white;
    text-decoration: none;
}