h1 {font-size: 60px;
    font-family: fantasy;
    border-bottom:5px double #000;
}

h1 img {width: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
}
.item {
    width: 420px;
    height: 55px;
    background-color: rgb(60, 60, 60);
    text-align: center;
    line-height:55px;
}

.item a {
    color: white;
    text-decoration: none;
}


.item a:hover {
  background: #222;
}


h2 {
  font-size: 1.7rem;
  border-bottom: 2px solid #444;
  margin: 35px auto 18px 12%;
  padding-bottom: 7px;
  width: 76%;
}
h2.a {
  color: #2468f2;
  margin-top: 36px;
}


h3 {
  font-size: 1.2rem;
  color: #222;
  margin-left: 13%;
}


p, ul, ol {
  font-size: 1.07rem;
  line-height: 1.8;
  color: #222;
  width: 76%;
  margin-left: 12%;
  margin-bottom: 8px;
}


hr {
  width: 80%;
  margin: 25px auto;
  border: none;
  border-bottom: 1.5px solid #ccc;
}


.country-container {
  width: 80%;
  margin: 0 auto;
  background: #f6f6f6;
  padding: 18px 30px 22px 30px;
}


ul {
  list-style-position: inside;
  padding-left: 0;
}
li {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
  color: #232323;
}
.country-container ol,
.country-container ul {
  margin-left: 17px;
}


