h1 {font-size: 60px;
    font-family: fantasy;
    border-bottom:5px double #000;
}

h1 img {width: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
}
.item {
    width: 420px;
    height: 55px;
    background-color: rgb(60, 60, 60);
    text-align: center;
    line-height:55px;
}

.item a {
    color: white;
    text-decoration: none;
}

.a {
    
    line-height:80px;
    text-align: center;
    height: 80px;
    background-color: #58e70be2
    
}

.country-container {
    
    background-color: #9dd6fc;
    
}

.country-container ol li{
    background-color: #6f17c2;
}